<!--lead-follow.view.html-->
<!--view page for Lead/Follow Residental tab-->
<!--fields that can be updated are autoloaded with current values,-->
<!--past values for duty,inspection,position,and rank are also displayed-->

<!--load app.controller from leadFollowCtrl.js-->
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    textarea {
        resize: none;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    textarea {
        resize: none;
    }
</style>

<!--load app.controller from leadFollowCtrl.js-->
<div class="well container infoContainer" id="lfContainer">
    <div ng-controller="leadFollowController">
        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Tasks</h3></th>
                <th style="text-align: right">
                    <div id="editButtonTasks">
                        <button class="btn btn-outline-primary" ng-disabled="!editTasks"
                                ng-click="editSection('tasks')">Edit
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Tasks-->
        <div class="well text-center">
            <form>
                <!--table to edit&display tasks from coreComponentTasks&cadetClassEvents-->
                <table>
                    <tr>
                        <th>Tasks</th>
                        <th>Description</th>
                        <th>Last Activity</th>
                        <th>Pass/Fail</th>
                        <th>Note</th>
                    </tr>
                    <!--iterate through each instance in scope from controller-->
                    <tr ng-repeat="task in tasks">
                        <td>{{task.TaskNumber}}</td>
                        <td class="text-left">{{task.Task}}</td>
                        <!--editable fields for cadetClassEvents-->
                        <td><input id="date" type="date" placeholder="MM/DD/YYYY" ng-model="task.EventDate"  ng-disabled="editTasks"></td>
                        <td><input name="DidPass" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="task.DidPass"  ng-disabled="editTasks"></td>
                        <td><textarea name="EventNote" rows="1" c wrap="off" ng-model="task.EventNote"  ng-disabled="editTasks"></textarea></td>
                    </tr>
                </table>
                <div id="taskSaveCancelButtons">
                    <button class="btn btn-outline-primary" ng-click="saveSection('tasks')" ng-disabled="editTasks">Save</button>
                    <button class="btn btn-outline-danger" ng-click="cancelUpdate('tasks')" ng-disabled="editTasks">Cancel</button>
                </div>
            </form>
        </div>

        <hr/>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Duties</h3></th>
                <th style="text-align: right">
                    <div id="editButtonDuties">
                        <button class="btn btn-outline-primary" ng-disabled="!editDuty"
                                ng-click="editSection('duties')">Edit


                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Duties-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--creates new duty entry-->
            <h6 style="text-align: left;">Add Duty</h6>
            <form>
                <table>
                    <tr>
                        <th><label>Duties: </label>
                            <!--dropdown options from tlkpJBDutyPosition-->
                            <select id="1" ng-model="duty.JobPosition" name="JobPosition"
                                    ng-options="option.DutyPosition for option in DutyPositionOptions track by option.id"
                                    ng-change="changeJobPosition(duty.JobPosition)" ng-disabled="editInfo"></select>
                        </th>
                        <th><label>Failed: </label>
                            <input id="2" name="DutyDidFail: " type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="duty.DutyDidFail" ng-disabled="editInfo"></th>
                        <th><label>Start Date: </label>
                            <input id="3" name="DutyStartDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyStartDate" ng-disabled="editInfo"></th>
                        <th><label>End Date: </label>
                            <input id="4" name="DutyEndDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyEndDate" ng-disabled="editInfo"></th>
                        <th><label>Note: </label>
                            <input id="5" name="DutyNote" type="text" ng-model="duty.DutyNote" ng-disabled="editInfo"
                                   style="width:500px"></th>
                        <th><label> </label>
                            <button class="btn btn-success" ng-click="CreateDuty()" ng-disabled="editInfo">Create
                            </button>
                        </th>
                    </tr>
                </table>
            </form>
            <br>
            <h6 style="text-align: left;">Current Duties</h6>
            <!--displays all duty instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table>
                    <tr>
                        <th>Duties:</th>
                        <th>Failed:</th>
                        <th>Start Date:</th>
                        <th>End Date:</th>
                        <th>Note:</th>
                    </tr>
                    <tr ng-repeat="duty in duties">
                        <td>{{duty.JobPosition}}</td>
                        <td><input name="DutyDidFail" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                                   ng-model="duty.DutyDidFail" ng-disabled="editInfo"></td>
                        <td><input name="DutyStartDate" type="date" placeholder="MM/DD/YYYY"
                                   ng-model="duty.DutyStartDate" ng-disabled="editInfo"></td>
                        <td><input name="DutyEndDate" type="date" placeholder="MM/DD/YYYY" ng-model="duty.DutyEndDate"
                                   ng-disabled="editInfo"></td>
                        <td><input name="DutyNote" type="text" ng-model="duty.DutyNote" ng-disabled="editInfo"
                                   style="width:500px"></td>
                        <td>
                            <button id=deleteButton" class="btn btn-danger" ng-disabled="editInfo"
                                    ng-click="deleteDuty($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="updateButtons">
                <button class="btn btn-outline-primary" ng-click="updateDuty()" ng-disabled="editInfo">Update</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate()" ng-disabled="editInfo">Cancel Update
                </button>
            </div>
        </div>
        <hr/>

        <br>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Inspections</h3></th>
                <th style="text-align: right">
                    <div id="editInspectbtn">
                        <button class="btn btn-outline-primary" ng-init= "editInspect = true" ng-disabled="!editInspect"
                                ng-click="editInspect = false">Edit
                        </button>
                    </div>
                    <div id="stopEditInspectbtn">
                        <button class="btn btn-outline-warning" ng-click="editInspect = true"
                                ng-disabled="editInspect">Stop Editing
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <span class="well container infoContainer text-center" style="border: 1px solid white">
        <form>
            <table>
                <tr>
		            <th><label>Date: </label>
		                <input id="i1" name="InspectionDate" type="date" placeholder="MM/DD/YYYY"
                               ng-model="inspect.InspectionDate" ng-disabled="editInspect"></th>
		            <th><label>Inspection Type: </label>
                        <!--dropdown options from tlkpJBInspectionType-->
		                <select id="i2" ng-model="inspect.JBInspectionType" name="JBInspectionType"
                                ng-options="option.InspectionType for option in InspectionTypeOptions track by option.id"
                                ng-change="changeInspectionType(inspect.JBInspectionType)" ng-disabled="editInspect"></select></th>
		            <th><label>Passed: </label>
		                <input id="i3" name="DidPassInspection" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                               ng-model="inspect.DidPassInspection" ng-disabled="editInspect"></th>
		            <th><label>Merit Adj: </label>
		                <input id="i4" name="InspMeritAdj" type="text" ng-model="inspect.InspMeritAdj" ng-disabled="editInspect"></th>
                    <th><label>Note:  </label>
		                <input id="i5" name="InspectionNote" type="text" ng-model="inspect.InspectionNote" ng-disabled="editInspect"></th>
                    <th><label> </label>
                            <button class="btn btn-success" ng-click="CreateInspect()" ng-disabled="editInspect">Create
                            </button>
                        </th>
		        </tr>
		    </table>
	    </form>
		<br>
			<br>
			<br>
		<div class="well container infoContainer text-center" style="border: 1px solid white">
			<table width = 100%>
				<tr>
					<th>Date</th>
					<th>Inspection Type</th>
					<th>Passed</th>
					<th>Merit Adj</th>
					<th>Note</th>
				</tr>
				<tr ng-repeat="inspect in inspections">
					<td><input name=InspectionDate type="date" placeholder="MM/DD/YYYY"
                               ng-model="inspect.InspectionDate" ng-disabled="editInspect"></td>
					<td>{{inspect.JBInspectionType}}</td>
					<td><input name="DidPassInspection" type="checkbox" ng-true-value="'1'" ng-false-value="'0'"
                               ng-model="inspect.DidPassInspection" ng-disabled="editInspect"></td>
					<td>{{inspect.InspMeritAdj}}</td>
                    <td><input name="InspectionNote" type="text" ng-model="inspect.InspectionNote" ng-disabled="editInspect"></td>
                    <td>
                        <button id=deleteInspectBtn" class="btn btn-danger" ng-disabled="editInspect"
                                ng-click="deleteInspect($index)">delete
                        </button>
                    </td>
				</tr>
			</table>

			<div id="updateInspButtons" ng-if = "!editInspect">
                <button class="btn btn-outline-primary" ng-click="updateInspect()" ng-disabled="editInspect">Update</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate()" ng-disabled="editInspect">Cancel Update
                </button>
            </div>
		</div>
    </span>
        <hr/>

        <br>
        <!--dispalys all inspection instances-->


        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Positions</h3></th>
                <th style="text-align: right">
                    <div id="editPositbtn">
                        <button class="btn btn-outline-primary" ng-init= "editPosit = true" ng-disabled="!editPosit"
                                ng-click="editPosit = false">Edit
                        </button>
                    </div>
                    <div id="stopEditPositbtn">
                        <button class="btn btn-outline-warning" ng-click="editPosit = true"
                                ng-disabled="editPosit">Stop Editing
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Positions-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--creates new Position entry-->
            <form>
                <table>
                    <tr>
                        <th><label>Position: </label>
                            <!--dropdown options from tlkpJBPosition-->
                            <select id= "p1" ng-model="posit.JBPosition" name="JBPosition" ng-disabled = "editPosit"
                                    ng-options="option.JBPosition for option in JBPositionOptions track by option.id"
                                    ng-change="changeJBPosition(posit.JBPosition)"></select></th>
                        <th><label>Start Date: </label>
                            <input id= "p2" name="DutyStartDate" type="date" placeholder="MM/DD/YYYY" ng-disabled="editPosit"
                                   ng-model="posit.PosStartDate"></th>
                        <th><label>End Date: </label>
                            <input id= "p3" name="DutyEndDate" type="date" ng-disabled="editPosit" ng-model="posit.PosEndDate">
                        </th>
                        <th><label>Note: </label>
                            <input id= "p4" name="DutyNote" type="text" ng-disabled="editPosit" ng-model="posit.PosNote"></th>
                        <th><label>Failed: </label>
                            <input id= "p5" name="DutyDidFail: " type="checkbox" ng-disabled="editPosit" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="posit.PosDidFail"></th>
                        <th><label> </label>
                            <button class="btn btn-success" ng-click="CreatePosit()" ng-disabled="editPosit">Create
                            </button>
                        </th>
                    </tr>
                </table>
            </form>
            <!--dispalys all position instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table width = 100%>
                    <tr>
                        <th>Position</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Note</th>
                        <th>Failed</th>
                    </tr>
                    <tr ng-repeat="posit in pos">
                        <td>{{posit.JBPosition}}</td>
                        <td><input name=PosStartDate type="date" ng-disabled="editPosit" ng-model="posit.PosStartDate">
                        </td>
                        <td><input name=PosEndDate type="date" ng-disabled="editPosit" ng-model="posit.PosEndDate"></td>
                        <td><input name="PosNote" type="text" ng-disabled="editPosit" ng-model="posit.PosNote"></td>
                        <td><input name="PosDidFail" type="checkbox" ng-disabled="editPosit" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="posit.PosDidFail"></td>
                        <td>
                            <button id=deletePositbtn" class="btn btn-danger" ng-disabled="editPosit"
                                    ng-click="deletePosit($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="updatePositButtons" ng-if = "!editPosit">
                <button class="btn btn-outline-primary" ng-click="updatePosit()" ng-disabled="editPosit">Update</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate()" ng-disabled="editPosit">Cancel Update
                </button>
            </div>
        </div>
        <br>
        <hr>
        <br>

        <table style="width:100%">
            <tr>
                <th style="text-align: left"><h3>Ranks</h3></th>
                <th style="text-align: right">
                    <div id="editRankbtn">
                        <button class="btn btn-outline-primary" ng-init= "editRank = true" ng-disabled="!editRank"
                                ng-click="editRank = false">Edit
                        </button>
                    </div>
                    <div id="stopEditRankbtn">
                        <button class="btn btn-outline-warning" ng-click="editRank = true"
                                ng-disabled="editRank">Stop Editing
                        </button>
                    </div>
                </th>
            </tr>
        </table>
        <!--Ranks-->
        <div class="well container infoContainer text-center" style="border: 1px solid white">
            <!--creates new rank entry-->
            <form>
                <table>
                    <tr>
                        <th><label>Rank: </label>
                            <!--dropdown options from tlkpJBRank-->
                            <select id= "r1" ng-disabled="editRank" ng-model="rEvent.JBRank" name="JBRank"
                                    ng-options="option.RankObtained for option in RankOptions track by option.id"
                                    ng-change="changeRank(rEvent.JBRank)"></select></th>
                        <th><label>Date Obtained: </label>
                            <input id= "r2" name="RankObtainedDate" type="date" ng-disabled="editRank"
                                   ng-model="rEvent.RankObtainedDate"></th>
                        <th><label>Note: </label>
                            <input id= "r3" name="RankPromotionNote" type="text" ng-disabled="editRank"
                                   ng-model="rEvent.RankPromotionNote"></th>
                        <th><label>Failed: </label>
                            <input id= "r4" name="RankDidFail: " type="checkbox" ng-disabled="editRank" ng-true-value="1"
                                   ng-false-value="0" ng-model="rEvent.RankDidFail">
                        <th><label> </label>
                            <button class="btn btn-success" ng-click="CreateRank()" ng-disabled="editRank">Create
                            </button>
                        </th>
                    </tr>
                </table>
            </form>

            <!--dispalys all rank instances-->
            <div class="well container infoContainer text-center" style="border: 1px solid white">
                <table width = 100%>
                    <tr>
                        <th>Rank</th>
                        <th>Date Obtained</th>
                        <th>Note</th>
                        <th>Failed</th>
                    </tr>
                    <tr ng-repeat="rEvent in rank">
                        <td>{{rEvent.JBRank}}</td>
                        <td><input name="RankObtainedDate" type="date" ng-disabled="editRank"
                                   ng-model="rEvent.RankObtainedDate"></td>
                        <td><input name="RankPromotionNote" type="text" ng-disabled="editRank"
                                   ng-model="rEvent.RankPromotionNote"></td>
                        <td><input name="RankDidFail" type="checkbox" ng-disabled="editRank" ng-true-value="'1'"
                                   ng-false-value="'0'" ng-model="rEvent.RankDidFail"></td>
                        <td>
                            <button id=deleteRankbtn" class="btn btn-danger" ng-disabled="editRank"
                                ng-click="deleteRank($index)">delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="updateRankButtons" ng-if = "!editRank">
                <button class="btn btn-outline-primary" ng-click="updateInspect()" ng-disabled="editRank">Update</button>
                <button class="btn btn-outline-danger" ng-click="cancelUpdate()" ng-disabled="editRank">Cancel Update
                </button>
            </div>
        </div>
        <br>
    </div>
</div>